
@{
    ViewData["Title"] = "KelolaRekanan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<head>
    <title>Kelola Karir Golongan- SIMKA UAJY </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <!--sweetalert-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">


</head>


<!-- Main content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kelola Karir Golongan</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">


        <div style="width:100%; margin:0" class="tab-pane">
            <div class="row">
                <div class="col-md-10">
                    <a class=" text-light btn btn-success" style="margin-bottom:10px"
                       onclick="ShowPopup('@Url.Action("AddEditKarirGolongan","SimkaAdmin")')"><i class="fa fa-plus"></i> Tambah Karir Golongan</a>
                </div>
            </div>
            <table id="example" class="  table-hover table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead class="bg-primary"></thead>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.2
    </div>
    <small>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</small> All rights
    reserved.
</footer>

<!-- Control Sidebar -->
<!-- /.control-sidebar -->





@section Scripts{

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator"
            crossorigin="anonymous"
            integrity="sha384-Fnqn3nxp3506LP/7Y3j/25BlWeA3PXTyT1l78LjECcPaKCV12TsZP7yyMxOe/G/k">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
            crossorigin="anonymous"
            integrity="sha384-JrXK+k53HACyavUKOsL+NkmSesD2P+73eDMrbTtTk0h4RmOF8hF8apPlkp26JlyH">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <!--toastr-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!--sweetalert-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <script>
        var popup, dataTable;

        $(document).ready(function () {
            dataTable = $('#example').DataTable({
                "responsive": true,
                "ajax": {
                    "url": "/SimkaAdmin/LoadDataKarirGolongan",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        data: "idTrKarirGolongan",
                        title: "ID",
                        name: "idTrKarirGolongan",
                        type: "readonly"

                    },
                    {
                        data: "noSk",
                        title: "noSk",
                        type: "readonly"
                    },
                    {
                        data: "npp",
                        title: "Npp"
                    },                
                    {
                        data: "namaLengkapGelar",
                        title: "Nama"
                    },   
                    {
                        data: "idRefGolonganBaru",
                        title: "Golongan Baru Baru"
                    },
                    {
                        data: "idRefGolonganLama",
                        title: "Golongan Lama"
                    },
                    {
                        data: "tglBerikut",
                        title: "Tanggal berikut"
                    },
                    
                    {
                        "data": "idTrKarirGolongan", // diganti sama id
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=ShowPopup('/SimkaAdmin/AddEditKarirGolongan/" + data + "')><i class='fa fa-pencil'></i> Edit</a>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                }
            });
        });


        function ShowPopup(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    popup = formDiv.dialog({
                        modal: true,
                        autoOpen: true,
                        resizeable: false,
                        width: 800,
                        height: 600,
                        title: 'Add or Edit Data',
                        close: function () {
                            popup.dialog('destroy').remove();
                        }
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                console.log(data);
                $.ajax({
                    type: 'POST',
                    url: '/SimkaAdmin/PostKarirGolongan',
                    data: data,

                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.dialog('close');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        }
                    },
                    error: function (data) {
                        alert("Telah terjadi kesalahan dengan kode : " + data.status + ", Pastikan semua isian data sudah diisi");
                    }
                });

            }
            return false;
        }

        


        function ShowMessage(msg) {
            toastr.success(msg);
        }


    </script>



}
