
@{ ViewData["Title"] = "KelolaRekanan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }

<head>
    <title>Kelola Studi Lanjut - SIMKA UAJY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <!--sweetalert-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />


</head>


<!-- Main content -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kelola Studi Lanjut </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">


        <div style="width:100%; margin:0" class="tab-pane">
            <div class="row">
                <div class="col-md-10">
                    <a class=" text-light btn btn-success" style="margin-bottom:10px"
                       onclick="gotoAddEdit(0)"><i class="fa fa-plus"></i> Tambah Data Studi Lanjut </a>
                </div>
            </div>
            @if (TempData["SuccessMessage"] != null && TempData["SuccessMessage"] != "")
            {
                <div class="alert alert-success alert-dismissible">

                    <div class="form-group row">
                        <i class="fa fa-check-circle fa-lg" style="margin-bottom:-0.5%; margin-right:1%"></i>
                        <h4> Pemberitahuan </h4>

                    </div>
                    

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x </button>
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["ErrorMessage"] != null && TempData["ErrorMessage"] != "")
            {
                <div class="alert alert-danger alert-dismissible">

                    <h5>Pemberitahuan</h5>

                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x </button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <table id="example" class="  table-hover table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                <thead class="bg-primary"></thead>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.0.2
    </div>
    <small>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</small> All rights
    reserved.
</footer>

<!-- Control Sidebar -->
<!-- /.control-sidebar -->





@section Scripts{

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

   
    <!--toastr-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!--sweetalert-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>





    <script>
        var popup, dataTable;

        $(document).ready(function () {
            dataTable = $('#example').DataTable({
                "responsive": true,
                "ajax": {
                    "url": "/SimkaAdmin/LoadDataStudiLanjut",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    {
                        data: "ID_STUDI_LANJUT",
                        title: "ID",
                        name: "ID",
                        type: "readonly"

                    },
                    {
                        data: "NAMA",
                        title: "Nama",
                        type: "readonly"
                    },
                    { data: "JENJANG", title: "Jenjang" },
                    { data: "NAMA_SEKOLAH", title: "Nama Sekolah" },
                    { data: "PRODI", title: "Prodi" },
                    { data: "STATUS_STUDI", title: "Status Studi" },
                    { data: "DalamAtauLuarNegeri", title: "Dalam / Luar Negeri" },


                    {
                        "data": "ID_STUDI_LANJUT", // diganti sama id
                        "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick=gotoAddEdit(" + data + ")><i class='fa fa-pencil'></i> Edit</a><a class=' text-light btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                }
            });
        });


        function ShowPopup(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    popup = formDiv.dialog({
                        modal: true,
                        autoOpen: true,
                        resizeable: false,
                        width: "auto",
                        height: 600,
                        title: 'Add or Edit Data',
                        close: function () {
                            popup.dialog('destroy').remove();
                        }
                    });
                });
        }


        function SubmitAddEdit(form) {
            Swal.fire({
                title: 'Apakah data yang Anda isi sudah benar?',
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
            }).then((result) => {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    var data = $(form).serializeJSON();
                    data = JSON.stringify(data);
                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: '/SimkaAdmin/PostStudiLanjut',
                        data: data,

                        contentType: 'application/json',
                        success: function (data) {
                            if (data.success) {
                                popup.dialog('close');
                                ShowMessage(data.message);
                                dataTable.ajax.reload();
                            }
                        },
                        error: function (data) {
                            alert("Telah terjadi kesalahan dengan kode : " + data.status + ", Pastikan semua isian data sudah diisi");
                        }
                    });

                } else {
                    console.log("form tidak valid")
                }
            });

            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: '/SimkaAdmin/DeleteStudiLanjut/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });
            });


        }


        function ShowMessage(msg) {
            toastr.success(msg);
        }

        function gotoAddEdit(id) {
            window.location.href = "AddEditStudiLanjut?id="+id ;
        }
    </script>



}
