
@{
    //ViewData["Title"] = "LupaPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    @*<title>Profil @HttpContextAccessor.HttpContext.Session.GetString("Nama") - SIMKA UAJY</title>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>

<body class="hold-transition login-page">
    <!-- Content Wrapper. Contains page content -->
    <div class="login-box">


        <div class="login-logo">
            <b>SIMKA</b><br>
            <i>Sistem Informasi Manajemen Kepegawaian </i>

        </div>
        @if (TempData["isLinkValid"] as bool? == true)
        {
            <div class="login-box-body">

                <h2 style="text-align:center; margin-bottom:30px; margin-top:-10px;"><b>Reset Password</b></h2>



                <div class="form-group has-feedback">


                    <label>Password Baru</label>
                    <input type="password" id="passwordBaru" class="form-control" placeholder="Password Baru">



                </div>
                <div class="form-group has-feedback">


                    <label>Konfirmasi Password Baru</label>
                    <input type="password" id="passwordBaruConfirm" class="form-control" placeholder="Konfirmasi Password Baru">



                </div>

                <div class="row">
                    <div class="col-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-4">

                        <button class="btn btn-primary btn-block btn-flat" onclick="ResetPassword()">Submit</button>

                    </div>
                    
                    <!-- /.col -->
                </div>




            </div>

        }
        else
        {
            @Html.Raw(TempData["alert"]);
        }



    </div>
</body>


@section Scripts{
    <script type="text/javascript" src="js/script.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var counter = 5;
        var displayText = "Kembali ke halaman login dalam #1 detik.";
        $(document).ready(function () { })

        function ResetPassword() {
            var passwordBaru = $("#passwordBaru").val();
            var passwordBaruConfirm = $("#passwordBaruConfirm").val();

            if (passwordBaru == "" || passwordBaruConfirm == "") {
                toastr.error("Kolom input harus diisi semua")
            } else if (passwordBaru != passwordBaruConfirm) {
                toastr.error("Konfirmasi password baru harus sama dengan password baru")

            }
            else {
                swal.fire({
                    icon: 'info',
                    html: '<h5>Loading...</h5>',
                    showCancelButton: false,
                    showConfirmButton: false,
                    allowOutsideClick: false

                });
                console.log("btn ubah password clicked")
                $.ajax({
                    type: 'post',
                    // url: 'https://jsonplaceholder.typicode.com/todos/1',
                    url: '/Home/ResetPassword',
                    data: {
                        "passwordBaru": passwordBaru
                    },

                    datatype: 'json',
                    success: function (data) {
                        if (data.success) {
                            console.log(data.message)
                            toastr.success("Ubah Password Berhasil");
                            swal.fire({
                                icon: 'success',
                                title: 'Ubah Password Berhasil',
                                //text: displayText.replace(/#1/, closeInSeconds),
                                text:"Anda akan kembali ke halaman login dalam 3 detik",
                                timer:3000
                            }).then(()=>{
                                    window.location.replace("/Home")

                            })
                            
                            //var interval = setInterval(function () {
                            //    counter--;
                            //    // Display 'counter' wherever you want to display it.
                            //    if (counter == 0) {
                            //        // Display a login box
                            //        clearInterval(interval);
                            //        $('.sweet-alert > p').text(displayText.replace(/#1/, closeInSeconds));

                            //    }
                            //}, 1000);
                        } else {
                            console.log(data.message)
                            toastr.success("Ubah Password Gagal");

                        }
                    },
                    error: function (data) {

                        console.log("ini gagal" + data.message)
                        toastr.error("Ubah Password Gagal");

                        swal.fire({
                            icon: 'warning',
                            html: '<h5>Ubah Password Gagal</h5>'
                        });
                    }
                });
            }



        }
    </script>
}