@using  Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "UbahPasswordView";
    Layout = "~/Views/Shared/_LayoutDosen.cshtml"; }
<head>
    @*<title>Profil @HttpContextAccessor.HttpContext.Session.GetString("Nama") - SIMKA UAJY</title>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

</head>

<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                
                    <h1>Ubah Password</h1>
                    <div class="card">
                        <div class="card-header p">
                            <b>Ubah Password</b> 
                        </div>

                        <div class="card-body">
                            <div class="form-group has-feedback">

                                <div class="col-xl-4 col-md-4 col-xs-4">
                                    <label>Password Lama</label>
                                    <input type="text" id="passwordLama" name="passwordLama" class="form-control" placeholder="Password Lama">

                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                                
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-xl-4 col-md-4 col-xs-4">
                                    <label>Password Baru</label>
                                    <input type="text" id="passwordBaru" name="passwordBaru" class="form-control" placeholder="Password Baru">

                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>

                                
                            </div>
                            <div class="form-group has-feedback">
                                <div class="col-xl-4 col-md-4 col-xs-4">
                                    <label>Konfirmasi Password Baru</label>
                                    <input type="text" id="passwordBaruConfirm" name="passwordBaruConfirm" class="form-control" placeholder="Konfirmasi Password Baru">

                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>

                                
                            </div>
                            <button class="btn btn-success btn-flat" onclick="ubahPassword()" style="margin-left:0.6%">Submit</button>
                        </div>
                    </div>
                

            </div>
        </section>
    </div>
</body>



@section Scripts{


    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () { })

        function ubahPassword() {
            var passwordLama = $("#passwordLama").val();
            var passwordBaru = $("#passwordBaru").val();
            var passwordBaruConfirm = $("#passwordBaruConfirm").val();

            if (passwordLama == null || passwordBaru == null || passwordBaruConfirm == null)

            swal.fire({
                icon: 'info',
                html: '<h5>Loading...</h5>',
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: false

            });
            console.log("btn ubah password clicked")
            $.ajax({
                type: 'get',
                // url: 'https://jsonplaceholder.typicode.com/todos/1',
                url: '/Home/UbahPassword',


                datatype: 'json',
                success: function (data) {
                    if (data.success) {
                        console.log(data.message)
                        toastr.success("Ubah Password Berhasil");
                        dataTablePengabdianSISTER.ajax.reload();
                        swal.fire({
                            icon: 'success',
                            html: '<h5>Ubah Password Berhasil</h5>'
                        });
                    }
                },
                error: function (data) {

                    console.log("ini gagal"+data.message)
                    toastr.error("Ubah Password Gagal");

                    swal.fire({
                        icon: 'warning',
                        html: '<h5>Ubah Password Gagal</h5>'
                    });
                }
            });

        }
    </script>
   }