@model RefPengembangan
@{

    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutDosen.cshtml";
}


<!DOCTYPE html>
<html>

<!-- Font Awesome Icons -->
<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
<head>
    <title>Pengembangan - SIMKA UAJY</title>



</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Kegiatan Pengembangan</h1>
                    </div>

                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Data Pengembangan</h3>
                </div>

                <form asp-action="Create"  enctype="multipart/form-data" >
                    <div class="card-body">
                        
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Butir Tridharma</label>
                                <select class="form-control" id="tridharma" name="id_appraisal">
                                        
                                        
                                    <option selected="selected" value="0">-</option>
                                    <option value="1">A - Pendidikan</option>
                                    <option value="2">B - Penelitian / Karya Ilmiah</option>
                                    <option value="3">C - Pengabdian pada Masyarakat</option>
                                    <option value="4">D - Penunjang</option>
                                    <option value="7">Belum ditentukan</option>
                                </select>
                            </div>

                      
                        <div>
                            <select asp-for="@Model.Deskripsi" id="colorselect"></select>
                        </div>
                        

                        <div class="form-group">
                            <label for="exampleInputEmail1">Judul</label>
                            <input type="text" class="form-control" id="JudulPengembangan" name="Judul" placeholder="Masukkan Judul Pengembangan disini">
                        </div>

                        <div class="form-group" id="date">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                <label for="exampleInputEmail1">Tanggal Mulai </label>
                            </div>
                            <input id="dateStart" name="dateStart" data-inputmask="'alias': 'date'" />
                        </div>

                        <div class="form-group" id="date">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                <label for="exampleInputEmail1">Tanggal Selesai </label>
                            </div>
                            <input id="dateEnd" name="dateEnd" data-inputmask="'alias': 'date'" />
                            * disamakan dengan tanggal mulai jika kegiatan hanya 1 hari
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Tempat</label>
                            <input type="text" class="form-control" id="tempat" name="tempat" placeholder="Masukkan JTempat Pelaksanaan disini">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                Penerbit /Prosiding/Nama Jurnal
                            </label>
                            <input type="text" class="form-control" id="Penerbit" name="penerbit" placeholder="Masukkan penerbit disini">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">
                                ISBN / ISSN
                            </label>
                            <input type="text" class="form-control" id="ISBN" name="Isbn" placeholder="Masukkan Judul Pengembangan disini">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Sumber Dana</label>
                            <select class="form-control" id="sumberdana" name="Sumberdana">
                                <option value="0">-</option>
                                <option value="1">Pembiayaan sendiri oleh peneliti</option>
                                <option selected="selected" value="2">PT/yayasan yang bersangkutan</option>
                                <option value="3">Kemdiknas/Kementerian lain terkait</option>
                                <option value="4">Institusi DN di luar Kemdiknas/Kementerian lain </option>
                                <option value="5">Institusi luar negeri</option>

                            </select>
                        </div>
                      
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Besar Dana
                                </label>
                                <input type="text" class="form-control" id="besardana" name="besardana" placeholder="Contoh 5000000">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Peran</label>
                                <select class="form-control" id="peran" name="peran">
                                    <option selected="selected" value="-">-</option>
                                    <option value="Penulis Tunggal">Penulis Tunggal</option>
                                    <option value="Penulis Pertama">Penulis Pertama</option>
                                    <option value="Penulis Kedua">Penulis Kedua</option>
                                    <option value="Penulis Ketiga">Penulis Ketiga</option>
                                    <option value="Peserta">Peserta</option>
                                    <option value="Instruktur">Instruktur</option>
                                    <option value="Lainnya">Lainnya</option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tingkat</label>
                                <select class="form-control" id="tingkat" name="tingkat">
                                    <option selected="selected" value="Lokal">Lokal</option>
                                    <option value="Nasional">Nasional</option>
                                    <option value="Internasional">Internasional</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Nilai
                                </label>
                                <input type="text" class="form-control" id="nilai" name="nilai" placeholder="Contoh 100">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Upload Bukti Pengembangan</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <span class="input-group-text"><i class="fa fa-photo"></i></span>
                                        <label class="custom-file-label" for="exampleInputFile">File Berformat JPG max 1MB</label>
                                        <input type="file" name="Image" class="custom-file-input" id="exampleInputFile" placeholder="" accept="image/x-png,image/gif,image/jpeg">
                                       
                                    </div>

                                </div>
                            </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>Version</b> 3.0.2
        </div>
        <small>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</small> All rights
        reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>


</body>
<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


</html>
@section Scripts{


    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    
    <script >
        //Insert default item "Select" in dropdownlist on load
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $("#colorselect").html(items);
        });

        //Bind dropdownlist
        $("#tridharma").change(function () {
            var Tridharma = $("#tridharma").val();
            $.ajax({
                 datatype: "text",
                type: 'get',
                url: 'FindKegiatan',//your url of handler
                              data: {
                    tridharma_id: Tridharma
                },
                success: function (data) {
                    $('#tridharma').val(Tridharma);
                    var item = "";
                    $("#colorselect").empty();
                    $.each(data, function (i, color) {
                        item += '<option value="' + color.idRefPengembangan + '">' + color.deskripsi + '</option>'
                    });
                    $("#colorselect").html(item);
                },
                error: function(jqxhr, textStatus, errorThrown) {
      console.log("jqXHR: ", jqxhr);
      console.log("textStatus: ", textStatus);
      console.log("errorThrown: ", errorThrown);
    }



            });
        });
    </script>

    <script>

        function BukaModal() {
            $('#myModal').modal("show");


        }
        function formattanggal() {

        }
        $(document).ready(function () {
            $('#dateStart').mask('99/99/9999', { placeholder: "dd/mm/yyyy" });
            $('#dateEnd').mask('99/99/9999', { placeholder: "dd/mm/yyyy" });
            $('#besardana').maskNumber();

          
        });
    </script>
}
